/* large desktop */
@media (min-width: 1438px) {
    /* Your styles for screens larger than 1438px */
}

/* Medium Desktop */
@media (min-width: 1022px) and (max-width: 1437px) {
    html {
        font-size: 85%;
    }
    .card {
        width: 180px;
        height: 350px;
    }
    .card-logo {
        border-radius: 50%;
        position: absolute;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.413);
        top: 155px;
        right: 10px;
        width: 40px;
    }
    .card-img {
        width: 100%;
        height: 60%;
        background-color: #ffffff;
    }
    .card-text {
        width: 80%;
    }   
    .card-text li {
        margin-top: 3px;
    }
    
    .card-text a {
        padding: 4px;
        font-size: 8px;    
    }
}

/* tablet */
@media (min-width: 766px) and (max-width: 1021px) {
    /* Your styles for screens between 766px and 1022px */
}

/* large phone */
@media (min-width: 425px) and (max-width: 765px) {
    /* Your styles for screens between 425px and 766px */
}

/* medium phone */
@media (min-width: 375px) and (max-width: 424px) {
    /* Your styles for screens between 375px and 425px */
}

/* small phone */
@media (min-width: 320px) and (max-width: 374px) {
    /* Your styles for screens between 320px and 375px */
}

/* extra small phone */
@media (max-width: 319px) {
    /* Your styles for screens smaller than 320px */
}
