@media (max-width: 974px) {
    body {
        font-size: 70%;
    }

    /* navigation bar */
    header.scrolled {
        height: 4rem;
    }

    .navbar .logo img {
        max-height: 20px;
    }

    .menu {
        background-color: white;
        width: 50%;
        height: 100vh;
        display: block;
        position: absolute;
        top: 0;
        right: -70%;
        transition: right 300ms ease-in;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    }

    .menu.open {
        right: 0;
    }

    .close-button {
        color: rgb(62, 62, 62);
        display: block;
        position: absolute;
        top: 10px;
        right: 5px;
        font-size: 50px;
        cursor: pointer;
    }

    .menu a {
        font-size: 1.5em;
        text-align: center;
        display: block;
        color: black;
        padding: 0.5em 0;
    }

    .menu a:hover {
        background-color: rgb(231, 231, 231);
        color: black;
    }

    .menu a:nth-child(2) {
        margin-top: 4rem;
    }

    .logo-tittle h1 {
        font-size: 120%;
    }

    .menu-extra .dm-btn p {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
    }
    /* navigation bar end */

    /* home */
    .home-content {
        top: 20%;
       margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .home .cta {
        margin-top: 10%;
        font-size: 1rem;
    }

    /* build future section */
    .build-future img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: center;
    }
    /* message founder section */
    .founder-image {
        width: 200px;
        height: 200px;
        margin-top: 1rem;
        border-radius: 50%;
        background-size: cover;
        background-position: top;
        box-shadow: inset 1px 1px 10px var(--shadow-color);
    }
    .founder-message {
        margin-top: 1rem;
    }
    .founder-content p {
        font-size: 1.5em;
    }
    .founder-container img {
        margin-top: 1rem;
        width: 200px;
    }

    /* Units */
    .units-tittle {
        margin-top: 3rem;
    }
    .units-container {
        margin-bottom: 5rem;
    }
    .units-card {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    /* Deployment */
    .deploy .image2 {
        display: none;
    }
    
    .deploy .image3 {
       display: none;
    }
    .deploy-tittle h1 {
        margin-inline: 5%;
        text-align: center;
        margin-top: 2rem;
        font-size: 3em;
    }
    .deploy-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    /* clients slider section */
    .clients-image-slider {
        width: 70%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        /* Sesuaikan dengan kebutuhan */
        border-radius: 20px;
        box-shadow: inset 1px 1px 5px black;
        margin-bottom: 2rem;
    }
    
    .slider-wrapper {
        display: flex;
        gap: 1rem;
        /* Jarak antar gambar */
        animation: scroll 90s linear infinite;
    }
    
    .slider-wrapper img {
        width: 75px;
        height: 40px;
        object-fit: cover;
        background-color: white;
        border-radius: 10px;
        box-shadow: 1px 1px 20px black;
    }
    /* lates post section */

    .post-update h1 {
        margin-top: 5rem;
    }
    .modal-content {
        height: 56%;
        margin-top: 3rem;
        max-width: 500px;
    }
    .close {
        position: absolute;
        top: 17%;
        right: 6%;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
}
