*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: .7rem;
    margin-block: 1rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(211, 211, 211);
    border-radius: 20px;

}

::-webkit-scrollbar-thumb {
    height: 5px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.765);
    background-color: var(--primary-color);
    border: 1px solid white;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-font: "poppins", sans-serif;
    --primary-color: rgb(20, 30, 61);
    --secondary-color: rgb(255, 183, 0);
    --background-color: rgb(255, 255, 255);
    --text-color1: rgb(20, 30, 61);
    --text-color2: rgb(36, 36, 36);
    --shadow-color: rgba(0, 0, 0, 0.381);
    --shadow-hover: rgba(199, 0, 0, 0);
    --container-gray: rgb(248, 248, 248);
    --primary2-color: rgb(20, 30, 61);
}

html {
    scroll-behavior: smooth;
}

/* animation slide */
.slide-up {
    transform: translateY(100px);
    /* Adjust according to your needs */
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

/* Animated state */
.slide-up.visible {
    transform: translateY(0);
    opacity: 1;
}

/* animation slide */

/* Body */
body {
    font-family: var(--primary-font);
    color: var(--text-color1);
    background-color: var(--background-color);
    line-height: 1.2;
    /* overflow-x: hidden; */
}

button {
    border: none;
}

/* text setting */
a {
    color: var(--text-color1);
    text-decoration: none;
}

/* text setting done */
/* scrolled navbar */
#menu.scrolled {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.509);
    background-color: var(--background-color);
    height: 70px;
}

#menu.scrolled .logo-tittle h1 {
    color: var(--primary-color);
}

#menu.scrolled a {
    color: var(--text-color1);
}

#menu.scrolled .dm-icon {
    color: var(--primary2-color);
}

.dm-icon {
    color: white;
}

#menu.scrolled #dark-mode-button li {
    color: var(--primary-color);
}

/* Navbar */
#menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    border-bottom: 2px solid rgba(223, 223, 223, 0.564);
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 999;
    transition: all 200ms ease-in-out;
}

.logo {
    display: flex;
    align-items: center;
    width: 350px;
    padding: 10px;
    gap: 1rem;
}

.logo img {
    height: 35px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.486);
    border-radius: 50%;
}

.logo-tittle {
    display: flex;
}

.logo-tittle h1 {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.logo-tittle span {
    font-weight: 600;
    color: var(--secondary-color);
}


#menu ul {
    display: flex;
    align-items: center;
}

#menu ul,
#menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none
}

#menu ul {
    text-align: right;
}

#menu li {
    display: inline-block;
    position: relative;
}

#menu a {
    display: block;
    line-height: 45px;
    padding: 0 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

#menu a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
}

#menu li a:hover {
    color: var(--secondary-color);
    background: transparent;
}

#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 45px;
    width: 100%;
    opacity: 0;
    cursor: pointer
}

#menu label {
    display: none;
    line-height: 45px;
    text-align: center;
    position: absolute;
    left: 35px
}

#menu label:before {
    font-size: 1.6em;
    color: #FFFFFF;
    content: "\2261";
    margin-left: 20px;
}

#menu ul.sub-menus {
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #444444;
    position: absolute;
    z-index: 99;
    display: none;
}

#menu ul.sub-menus li {
    display: block;
    text-align: left;
    width: 100%;
}

#menu ul.sub-menus a {
    color: #FFFFFF;
    font-size: 16px;
}

#menu li:hover ul.sub-menus {
    display: block
}

#menu ul.sub-menus a:hover {
    background: #F2F2F2;
    color: #444444;
}

.dark-mode-button {
    display: flex;
    align-items: center;
}

.dark-mode-button li {
    color: var(--background-color);
}

@media screen and (max-width: 800px) {
    #menu {
        position: relative
    }

    #menu ul {
        background: #444444;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none;
        text-align: left;
    }

    #menu ul.sub-menus {
        width: 100%;
        position: static;
    }

    #menu ul.sub-menus a {
        padding-left: 30px;
    }

    #menu li {
        display: block;
        float: none;
        width: auto;
    }

    #menu input,
    #menu label {
        position: absolute;
        top: 0;
        left: 0;
        display: block
    }

    #menu input {
        z-index: 4
    }

    #menu input:checked+label {
        color: #FFFFFF
    }

    #menu input:checked+label:before {
        content: "\00d7"
    }

    #menu input:checked~ul {
        display: block
    }
}

#popupMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000e9;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 3;
}


#popupMessage.hidden {
    display: none;
}

#popupMessage.show {
    opacity: 1;
}

/* Navbar End */

/* hero section start */
.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-shadow: 1px 3px 10px black;
}

.home video {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.263)100%, rgba(255, 255, 255, 0));
    z-index: 1;
}

.home-content {
    position: absolute;
    top: 35%;
    margin-left: 5%;
    margin-right: 20%;
    color: white;
    z-index: 2;
}

.home-content h1 {
    font-size: 5em;
    font-weight: 700;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.63);
}

.home-content h1 span {
    color: var(--secondary-color);
}

.home-content h2 {
    font-weight: 300;
}

.home-content h2 strong {
    color: var(--secondary-color);
}

.home .cta {
    font-size: 1.4rem;
    margin-top: 2%;
    margin-right: 1%;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: inset 1px 1px 5px black;
    background-color: var(--secondary-color);
    cursor: pointer;
    padding: 1rem 2rem;
    color: white;
    font-weight: 300;
    transition: 200ms ease;
}

.home .cta:first-child {
    background-color: var(--primary-color);
}

.home .cta:hover {
    background-color: rgb(0, 160, 228);
    color: white;
}

/* home end */


/* Build Future Section */
.build-future {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1rem;
}

.build-content {
    /* margin-top: 3rem; */
    max-width: 100%;
    text-align: center;
    color: var(--text-color1);
    z-index: 2;
    margin-bottom: 2rem;
}

.build-content h1 {
    font-size: 4em;
}

.build-content h1 span {
    color: var(--secondary-color);
}

.build-content p {
    text-align: center;
    font-size: 1.5em;
    mix-blend-mode: hard-light;
    margin-bottom: 0rem;
}

.build-future img {
    width: 50%;
    max-height: 380px;
    object-fit: cover;
    background: #fafafa;
    border-radius: 50px;
    box-shadow: inset 9.91px 9.91px 25px #D9DADE, inset -9.91px -9.91px 25px #FFFFFF;

}

/* build future together done */

/* Founder */
.founder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    margin-inline: 2%;
}

.founder-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
    padding: 0rem 2rem;
    border-radius: 50px;
    /* border: 10px solid var(--secondary-color); */
    /* box-shadow: 1px 1px 10px black inset; */
}

.founder-image {
    max-width: 400px;
    padding: 1rem;
    object-fit: cover;
    border-radius: 50%;
}

/* .FounderImageBorder {
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset 1px 1px 10px black;
} */

.founder-message {
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.founder-message h1 {
    font-size: 4em;
    margin-bottom: 2rem;
}

.founder-message h1 span {
    color: var(--secondary-color);
}

.founder-message p {
    font-size: 1.2em;
    line-height: 1.4;
}

.founder-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 140px;
    gap: 5px;
    padding: 9px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    transition: 200ms ease;
}

.founder-cta:hover {
    transform: scale(1.1);
}

.founder-img-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.founder-img-name h4 {
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
}

.founder-img-name h5 {
    font-size: 1.1rem;
    font-weight: 400;
}

.group-logo {
    max-width: 300px;
}

/* founder section end */

/* Units Section Start */
.units {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    min-height: 95vh;
    gap: 3rem;
    background-color: var(--primary2-color);
    box-shadow: 1px 1px 10px black;
}

.units-tittle {
    width: 100%;
    display: block;
    color: white;
    margin-top: 5rem;
}

.units-tittle h1 {
    margin-inline: 5%;
    font-size: 4em;
}

.units-tittle span {
    color: var(--secondary-color);
    /* text-shadow: 0px -2px 1px rgba(255, 255, 255, 0.425); */
}



/* Units card */
.units-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    min-height: 400px;
    padding: 2rem;
    border-radius: 40px;
    box-shadow: inset 1px 1px 10px black;
    background-color: white;
    gap: 0rem;
    margin-bottom: 5rem;
}

.units-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    /* outline: 2px solid red; */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgb(255, 219, 59);
    color: rgb(0, 52, 77);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.799);
    border-radius: 15px;
    overflow: hidden;
    width: 250px;
    height: 350px;
    transition: transform 200ms ease;
}

.units-card .card:hover {
    transform: scale(1.05);
}

.card-img {
    width: 100%;
    height: 50%;
    background-color: #ffffff;
}

.card-img img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    width: 85%;
    text-align: left;
}

.card-text h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 0;
    margin-bottom: 2px;
}

.card-text li {
    line-height: 1;
    padding: 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
}

.card-text a {
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    bottom: 10px;
    right: 15px;
    letter-spacing: 1px;
    font-weight: 700;
}

/* Units Section Done */


/* Deploy section start */
.deploy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    gap: 1rem;
    background-color: var(--primary-color);
    min-height: 98vh;
    position: relative;
    box-shadow: 1px 1px 10px black;
}

.deploy .image2 {
    position: absolute;
    bottom: 0px;
    left: 50px;
    object-fit: cover;
    object-position: top;
    z-index: 0;
    height: 550px;
}

.deploy .image3 {
    position: absolute;
    bottom: 0px;
    right: 50px;
    object-fit: cover;
    object-position: top;
    height: 550px;
}

.deploy .image4 {
    position: absolute;
    bottom: 0px;
    object-fit: cover;
    object-position: top;
    height: 300px;
}

.deploy-tittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 0;
    min-height: 100px;
    ;
    color: white;
}

.deploy-tittle h1 {
    /* margin-inline: 2%; */
    text-align: center;
    font-size: 3.5em;
}

.deploy-tittle span {
    color: var(--secondary-color);
}

.deploy-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.total-deploy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: .5rem;
    margin-top: 2rem;
    background-color: white;
    border: 5px solid var(--secondary-color);
    box-shadow: 1px 6px 10px var(--shadow-color);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: var(--primary2-color);
    padding: 5px;
}


.total-deploy .h2 {
    /* text-shadow: 1px 1px 2px black; */
    color: var(--secondary-color);
    display: flex;
}

.total-deploy h1 {
    margin-inline: 2%;
    margin-bottom: rem;
    text-align: center;

}

.total-deploy span {
    font-size: 3rem;
}

.total-deploy img {
    width: 50px;
    height: 50px;
}

.overall-deploy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 120px;
}

.overall-deploy h1 {
    color: white;
    font-size: 3em;
}

.overall-deploy .h2 {
    color: rgb(255, 208, 0);
    font-size: 3em;
    display: flex;
    text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.507);

}

/* Deploy section end */

/* Licenses section */
.licenses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.licences-tittle {
    font-size: 3em;
    margin-block: 2rem;
}

.licenses h1 span {
    color: var(--secondary-color);
}

.licenses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: 5%;
}

.licenses-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-inline: 15px;
    margin-block: 15px;
    transition: 100ms ease;
    cursor: pointer;
}

.licenses-card h1 {
    margin-bottom: 5px;
    font-size: 1em;
}

.licenses-card p {
    text-align: center;
    margin-inline: 10%;
    font-size: .8em;
}

.licenses-card img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.354);
}

.licenses-card:hover {
    transform: scale(1.1);
}

/* Licenses section */

/* Clients section start */
.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: top;
    min-height: 100vh;
}

.clients-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline: 5%;
    z-index: 1;
    color: white;
}

.clients-tittle h1 {
    margin-top: 2rem;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.clients-tittle span {
    color: var(--secondary-color);
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.clients-tittle p {
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    padding: 10px;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    margin-bottom: 4rem;
}

.clients-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    z-index: 1;
}

.clients-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

.clients-category h1 {
    color: white;
    margin-bottom: 2rem;
}

.clients-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.clients-images img {
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
    object-fit: cover;
    width: 150px;
    height: 100px;
    cursor: pointer;
    background-color: white;
}

.clients-images img:hover {
    transform: scale(1.05);
}

/* clients Section End */

/* latest post section */

.post-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    gap: 2rem;
    background-size: cover;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.502) inset;

}

.post-update h1 {
    font-size: 2em;
}

.post-update h1 span {
    color: var(--secondary-color);
}

.post {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.post img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px var(--shadow-color);
    cursor: pointer;
    opacity: 1;
    transition: transform 200ms ease-in-out;
}

.post img:hover {
    opacity: .9;
    transform: scale(1.05);
}

.sm-tittle {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sm-icons img {
    margin: 0px 10px;
    width: 30px;
    cursor: pointer;
}

.sm-icons img:hover {
    transform: scale(1.05);
}

/* modal late post */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    display: block;
    margin-inline: auto;
    height: 70%;
    max-width: 500px;
}

.close {
    position: absolute;
    top: 17%;
    right: 6%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* modal late post */

/* footer section start */
.footer {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    min-height: 100vh;
    background-color: var(--primary2-color);
    color: white;
}

.footer-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem 0;
    border-bottom: 2px solid white;
    font-weight: 500;
}

.footer-header img {
    width: 100px;
}

.footer-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* outline: 2px solid rgb(60, 255, 0); */
    padding: 10px;
    gap: 3rem;
}

.offices {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    padding-inline: 10px;
    /* outline: 1px solid red; */
    max-width: 500px;
}

.offices h1 {
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
}

.office-content {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 2.2;
}

.office-content li {
    display: flex;
    /* align-items: center; */
    list-style: none;
    font-size: 13px;
    gap: .5rem;
}

.office-content a:hover {
    color: rgb(242, 170, 46);
}

.office-content span {
    padding-top: 5px;
    font-size: 1.3rem;
}

/* link and social media container */
.link-and-sm {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding-inline: 10px;
    /* outline: 1px solid red; */
    list-style: none;
    line-height: 1.7;
}

.link-and-sm h2 {
    padding-bottom: 5px;
    font-weight: 600;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
}

.link-and-sm a {
    color: white;
}

.link-and-sm a:hover {
    color: rgb(242, 170, 46);
}

/* contact form */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* outline: 1px solid red; */
    padding-inline: 10px;
    width: 400px;
}

.contact-form h1 {
    font-weight: 600;
    margin-bottom: .5rem;

}

.contact-form form {
    display: flex;
    flex-direction: column;
    /* outline: 1px solid yellow; */
    width: 300px;
    gap: 10px;
}

.contact-form form input {
    height: 40px;
    border-radius: 15px;
}

.contact-form form textarea {
    height: 200px;
    border-radius: 20px;
}

.contact-form button {
    align-self: center;
    width: 120px;
    height: 35px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 2rem;
}

.contact-form button:hover {
    background-color: yellow;
}

.contact-form p {
    margin-bottom: 1rem;
}

.websitelink {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    text-transform: uppercase;
    gap: 1rem;
}

.websitelink a {
    display: flex;
    gap: .5rem;
}

.copyright {
    border-top: 2px solid rgb(152, 152, 152);
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
}

.group-logo-footer {
    align-self: center;
    width: 160px;
    margin-bottom: 2rem;
    /* filter: grayscale(); */
}

/* footer end */

/* about section */
.about-home {
    display: flex;
    justify-content: start;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    position: relative;
}

.about-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.797), rgba(0, 0, 0, 0.208));
    z-index: 1;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 8rem;
    z-index: 1;
    margin-left: 5%;
}

.about-content h1 {
    font-size: 7em;
    text-transform: uppercase;
    color: white;
}

.about-content span {
    color: var(--secondary-color);
}

.about-content p {
    margin-right: 30%;
    color: white;
    font-size: 2em;
}

/* who is perwita */
.perwita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    text-align: center;
}

.perwita-tittle {

    margin-inline: 10%;
}

.perwita-tittle h1 {
    margin-bottom: 1rem;
    font-size: 2.5em;
}

.perwita-tittle p {
    font-size: 1.2em;
    margin-inline: 5%;
}

.perwita-tittle img:first-child {
    width: 100px;
    margin-bottom: 2rem;
}

.perwita-tittle img:nth-child(4) {
    width: 300px;
    margin-top: 2rem;
}

/* who is perwita */


/* our history */
.our-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 250px 10px 250px 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.468);
}

.our-history .logo-history {
    position: absolute;
    width: 100px;
    top: 18%;
    left: 12%;
}

.OH-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.OH-container img {
    object-fit: cover;
    object-position: top;
    width: 800px;
    height: 500px;
    border-radius: 80px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.511);
}

.OH-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
    width: 400px;
    height: 400px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.573);
    border-radius: 20px;
    background: var(--background-color);
}

.OH-card h4 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.OH-card-border {
    width: 200px;
    height: 5px;
    background: #d3ff47;
    background: -webkit-linear-gradient(263deg, #d3ff47 0%, #bc48ff 100%);
    background: linear-gradient(263deg, #d3ff47 0%, #bc48ff 100%);
    margin-bottom: 1rem;
}

.OH-card p {
    margin-bottom: 20px;
}

.OH-card a {
    padding: 1rem 2rem;
    background: #47ceff;
    background: -webkit-linear-gradient(263deg, #47ceff 0%, #bc48ff 100%);
    background: linear-gradient(263deg, #47ceff 0%, #bc48ff 100%);
    border-radius: 10px;
}

/* our history */

/* milestone */
.milestone {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.ms-tittle {
    margin-top: 4rem;
}

.ms-tittle h1 {
    font-size: 4em;
}

.ms-tittle span {
    color: var(--secondary-color);
}

.ms-tittle p {
    margin-inline: 20%;
    font-size: 1em;
    margin-bottom: 4rem;
}

.ms-card {
    margin-bottom: 6rem;
}
.ms-card h3 {
    font-size: 2em;
    color: var(--secondary-color);
}
.ms-card p strong {
    font-size: 1.5em;
}
.ms-card p {
    margin-inline: 30%;
    font-size: 1.2em;
}
/* milestone */